

<h5>AddDevice</h5>
<form>
    Device name:
    <input type="text" name="Name" /><br />
    Location:
    <input type="text" disabled name="Location" value="Default: Vega, Sweden" />
    <br />
    <input type="submit" value="Create" />
</form>
<hr />
@code {

}
